include ../../data/constants.pug

.sidebar
  a.sidebar__logo(href="#")
    svg(width="37" height="37")
      use(href="./images/sprite.svg#icon-logo")
    h1.sidebar__title
      | #{pageTitle}
      span.sidebar__txt v.01
  .sidebar__wrapper
    svg(width="24" height="24")
      use(href="./images/sprite.svg#icon-key")
    p.sidebar__title--menu #{pageTitle}
  nav.nav
    ul.nav__list
      each item in navItems
        li.nav__item
          a(href="#" class=item.active ? 'active' : '')
            .nav__box(class=item.active ? 'active' : '')
              svg(width="24" height="24")
                use(href=`./images/sprite.svg#${item.icon}`)
              p.nav__txt #{item.text}
            svg(width="16" height="16")
              use(href=`./images/sprite.svg#${item.active ? 'icon-arrow-active' : 'icon-arrow'}`)
  .user
    img.user__img(src="./images/user.png" alt="user")
    .user__box
      p.user__name #{userName}
      p.user__title #{userRole}