include ./data/constants.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./images/favicon.png" type="image/png")
    // Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    )
    // Custom styles
    link(rel="stylesheet" href="./css/main.min.css")
    // Title
    title #{pageTitle}
    script(type="module" src="./index.js")
  body
    main.main
      section.main__section
        .main__container
          .main__wrapper
            .sidebar
              a.sidebar__logo(href="#")
                svg(width="37" height="37")
                  use(href="./images/sprite.svg#icon-logo")
                h1.sidebar__title
                  | #{pageTitle}
                  span.sidebar__txt v.01
              .sidebar__wrapper
                svg(width="24" height="24")
                  use(href="./images/sprite.svg#icon-key")
                p.sidebar__title--menu #{pageTitle}
              nav.nav
                ul.nav__list
                  each item in navItems
                    li.nav__item
                      a(href="#" class=item.active ? 'active' : '')
                        .nav__box(class=item.active ? 'active' : '')
                          svg(width="24" height="24")
                            use(href=`./images/sprite.svg#${item.icon}`)
                          p.nav__txt #{item.text}
                        svg(width="16" height="16")
                          use(href=`./images/sprite.svg#${item.active ? 'icon-arrow-active' : 'icon-arrow'}`)
              .user
                img.user__img(src="./images/user.png" alt="user")
                .user__box
                  p.user__name #{userName}
                  p.user__title #{userRole}
            .content
              h2.content__title Hello #{userName} 👋🏼,
              .blog
                .blog__header
                  .blog__wrapper
                    h3.blog__title All Customers
                    p.blog__title--status Active Members
                  .blog__input--wrapper
                    svg.blog__img(width="24" height="24")
                      use(href="./images/sprite.svg#icon-search")
                    input.blog__input(type="text" placeholder="Search")
                table
                  thead
                    tr
                      th Customer Name
                      th Company
                      th Phone Number
                      th Email
                      th Country
                      th Status
                  tbody
                    each item in data
                      tr
                        td= item.name
                        td= item.company
                        td= item.phone_number
                        td= item.email
                        td= item.country
                        td
                          div(class=item.status)= item.status
                .blog__footer
                  p.blog__txt Showing data 1 to 8 of 256K entries
                  .pagination
                    ul.pagination__list
                      li.pagination__item
                        a.pagination__link(href="") 1
                      li.pagination__item
                        a.pagination__link(href="") 1
                      li.pagination__item
                        a.pagination__link(href="") 1